@using System.Web.Optimization
@using TaxorgRepository
@model TaxorgRepository.Models.Organization

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/jqgrid")
@Scripts.Render("~/scripts/jqgridlocale")

<div class="container navbar">
    <p><span class="h1">@Model.Name</span></p>
    <p><span class="h3">ИНН: @Model.Inn</span></p>
    <p><span class="h5">Адрес: @Model.Address</span></p>
</div>
<div class="container">
    <table id="sliceGrid"></table>
    <div id="sliceGridPage"></div>
</div>

<script type="text/javascript">
    var lastSel = null;

    $(document).ready(function() {
        $("#sliceGrid").jqGrid({
            url: "@Url.Action("GetData", "Slice")" + "?idOrganization=" + @Model.IdOrganization,
            datatype: "json",
            colModel: [
                { name: "IdTax", hidden: true, key: true, editable: true },
                { name: "IdTaxType", editable: true, hidden: true, editrules: { edithidden: true } },
                { name: "TaxCode", label: "Код налога", width: 200, editable: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] } },
                { name: "TaxName", label: "Наименование налога", width: 400, editable: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] }},
                { name: "TaxSum", label: "Сумма", hidden: true, editable: true, searchoptions: { sopt: ['eq', 'ne', 'gt', 'ge', 'lt', 'le'] } },
                { name: "TaxDebitKredit", index: "TaxSum", label: "Сумма", width: 100, searchoptions: { sopt: ['eq', 'ne', 'gt', 'ge', 'lt', 'le'] }, editable: false},
                { name: "PrevTaxSum", label: "На @TaxorgTools.GetPrevPeriod()", editable: false, searchoptions: { sopt: ['eq', 'ne', 'gt', 'ge', 'lt', 'le'] } },
                { name: "Delta", label: "Дельта", width: 100, searchoptions: { sopt: ['eq', 'ne', 'gt', 'ge', 'lt', 'le'] }, editable: false, formatter: "currency", formatoptions: { decimalSeparator: ".", thousandsSeparator: " ", decimalPlaces: 2 } }
            ],
            mtype: 'POST',
            pager: "#sliceGridPage",
            rowNum: 30,
            //            page: 20,
            rowList: [10, 20, 30],
            sortName: "shortName",
            sortorder: "asc",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "totalPages",
                records: "records",
                repeatitems: false,
                userdata: "userdata"
            },
            height: "auto",
            caption: "Отчетный период: @TaxorgTools.GetCurrentPeriod()"
        });

        $("#sliceGrid").jqGrid('filterToolbar', {
            searchOperators: true,
            stringResult: true
        });
    });
</script>