@using System.Web.Optimization
@model IEnumerable<TaxorgRepository.Models.TaxType>

@{
    ViewBag.Title = "KbkList";
    Layout = "";
}

@Scripts.Render("~/jquery")
@Scripts.Render("~/jquery-ui")
@Scripts.Render("~/scripts/bootstrap")
@Styles.Render("~/Content/themes/overcast/css")
@Styles.Render("~/bootstrap/css")

<div class="panel panel-collapse">
    <div class="alert alert-danger fade collapse" role="alert" aria-hidden="true" id="errorPanel">
        <button type="button" class="close" aria-label="Close" data-toggle="collapse" data-target="#errorPanel" aria-controls="errorPanel" aria-expanded="false">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="panel-body"><span class="text-danger" id="errorMessage">sdfgdfg</span></div>
    </div>
    <div class="panel-body">
        @foreach (var taxType in Model)
        {
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" aria-label="@taxType.Name" value="@taxType.IdTaxType">
                        </span>
                        <span class="form-control">@taxType.Code</span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $(":checkbox").change(function(event) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("SetStt")",
                async: true,
                cache: false,
                dataType: "json",
                data: {idTaxType: $(this).val(), added: $(this).prop("checked")},
                error: function (jqXhr, textStatus, errorThrown) {
                    if (textStatus == "parsererror")
                        return;

                    $("#errorMessage").text(errorThrown);
                    $("#errorPanel").collapse('show');
                }
            });
        });
    });
</script>