@using System.Web.Optimization
@using TaxorgRepository
@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section meta
{
    <meta http-equiv="PRAGMA" content="NO-CACHE">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="CACHE-Control" content="NO-CACHE">
}

@functions{

    public string IsNotLoadSameLabel()
    {
        return TaxorgTools.IsNotSameTaxLoad ? "Добавить записи" : "Скрыть записи";
    }

}

@section HeaderScripts
{
    @Scripts.Render("~/jqgrid")
    @Scripts.Render("~/scripts/jqgridlocale")
}

@section main
{
    @string.Format("active")
}

<style type="text/css">
    .grid {
        margin-top: 50px;
    }

    .oddRow {
        /*font-size: 12px;*/
        font-weight: bold;
        background-image: url('~/Content/themes/overcast/images/ui-bg_flat_55_c0402a_40x100.png') !important;
    }
</style>
<div>
    <div class="grid container">
        <table id="tOrg" style="width: 100%"></table>
        <div id="tOrgPage"></div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {

            var innEditOptions = {};
            innEditOptions.dataInit = function(elem) {
                $(elem).attr("readonly", "readonly").width(200);
            }

            var nameEditOptions = {};
            nameEditOptions.dataInit = function(elem) {
                $(elem).width(200);
            };

            var shortNameEditOptions = {};
            shortNameEditOptions.dataInit = function(elem) {
                $(elem).width(200);
            };

            var addressEditOptions = {};
            addressEditOptions.dataInit = function(elem) {
                $(elem).width(200);
            };

            //        var lastSel;

            $("#tOrg").jqGrid({
                url: "@Url.Action("GetData")",
                editurl: "@Url.Action("Edit")",
                datatype: "json",
                colModel: [
                    { name: "IdOrganization", hidden: true, key: true, editable: true, searchoptions: { sopt: ['eq', 'ne'] } },
                    { name: "Inn", label: "ИНН", editable: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] }, editoptions: innEditOptions },
                    { name: "Name", label: "Полное наименование организации", hidden: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] }, editable: true, editrules: { edithidden: true }, editoptions: nameEditOptions },
                    { name: "ShortName", width: 400, label: "Наименование организации", searchoptions: { sopt: ['cn', 'eq', 'ne'] }, editable: true, editoptions: shortNameEditOptions },
                    { name: "Address", width: 300, label: "Адрес", searchoptions: { sopt: ['cn', 'eq', 'ne'] }, editable: true, editoptions: addressEditOptions },
                    { name: "Tax", label: "Сумма", hidden: true, width: 100, searchoptions: { sopt: ['eq', 'ne', 'gt', 'ge', 'lt', 'le'] }, editable: false, formatter: "currency", formatoptions: { decimalSeparator: ".", thousandsSeparator: " ", decimalPlaces: 2 } },
                    { name: "TaxDebitKredit", index: "Tax", label: "Сумма долга", align: "right", width: 100, searchoptions: { sopt: ['eq', 'ne', 'gt', 'ge', 'lt', 'le'] }, editable: false },
                    //                    { name: "PrevTax", label: "На @ViewBag.PrevPeriod", align: "right", width: 100, searchoptions: { sopt: ['eq', 'ne', 'gt', 'ge', 'lt', 'le'] }, editable: false, formatter: "currency", formatoptions: { decimalSeparator: ".", thousandsSeparator: " ", decimalPlaces: 2 } },
                    { name: "PrevTax", label: "На @ViewBag.PrevPeriod", align: "right", width: 100, searchoptions: { sopt: ['eq', 'ne', 'gt', 'ge', 'lt', 'le'] }, editable: false },
                    //                    { name: "Delta", label: "Дельта", width: 100, align: "right", searchoptions: { sopt: ['eq', 'ne', 'gt', 'ge', 'lt', 'le'] }, editable: false, formatter: "currency", formatoptions: { decimalSeparator: ".", thousandsSeparator: " ", decimalPlaces: 2 } },
                    { name: "Delta", label: "Дельта", width: 100, align: "right", searchoptions: { sopt: ['eq', 'ne', 'gt', 'ge', 'lt', 'le'] }, editable: false },
                    { name: "PeriodName", width: 100, label: "Период", hidden: true, searchoptions: { sopt: ['cn', 'eq', 'ne'] }, editable: false }
                ],
                mtype: 'GET',
                pager: "#tOrgPage",
                rowNum: 30,
                //            page: 20,
                rowList: [30, 50, 100, @ViewBag.TotalTaxCount],
                sortName: "ShortName",
                sortorder: "asc",
                shrinkToFit: true,
                viewrecords: true,
                footerrow: true,
                userDataOnFooter: true,
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "totalPages",
                    records: "records",
                    repeatitems: false,
                    userdata: "userdata"
                },
                height: "auto",
                width: "100%",
                gridComplete: function() {
                    $("tr:odd").addClass("oddRow");
                    $(this).css("width", "100%");
                },
                loadComplete: function(data) {
                    var label = "На " + getPrevPeriod();
                    $(this).jqGrid('setLabel', "PrevTax", label);
                },
                ondblClickRow: function(rowId, iRow, iCol, e) {
                    var data = $(this).getRowData(rowId);
                    var parameters = "?idOrganization=" + data.IdOrganization;
                    var url = "@Url.Action("Index", "Slice")" + parameters;
                    $(location).attr("href", url);
                },
                caption: "Отчетный период: @ViewBag.CurrentPeriod",
                toolbar: [true, "top"],
                ajaxGridOptions: {
                    error: function(jqXhr, textStatus, errorThrown) {
                        showDialog("Ошибка загрузки!", getErrorMessage(query.errorUrl, textStatus, errorThrown));
                    }
                }
            });

            $("#tOrg").navGrid("#tOrgPage", {
                    edit: true,
                    add: false,
                    del: true,
                    refresh: true,
                    searchtext: "Поиск",
                    view: true,
                    modal: true
                },
                //Edit parameters
                {
                    id: 'myedit',
                    editCaption: "Редактирование записи",
                    closeAfterEdit: true,
                    reloadAfterSubmit: true,
                    width: 500
                },
                //Add parameters
                {

                },
                //Delete parameters
                {
                    id: 'mydel',
                    url: "@Url.Action("Delete")"
                },
                //Search parameters
                {
                    closeOnEscape: true,
                    multipleSearch: true,
                    closeAfterSearch: true
                },
                //View parameters
                {
                    width: 600
                }
            );

            $("#tOrg").jqGrid('filterToolbar', {
                searchOperators: true,
                stringResult: true
            });

            $("#editDialog").dialog({
                modal: true,
                autoOpen: false
            });

            $("#t_tOrg")
                .attr("role", "group")
                .addClass("btn-group btn-group-sm")
                .css("height", "32px");;

            $("#t_tOrg").append('<input type="button" id="hideSameRows" class="btn btn-default" value="@IsNotLoadSameLabel()" title="Запрещает/Разрешает загрузку данных с одинаковыми значениями сумм долга за текущий и предыдущий периоды" />');
            $("#t_tOrg").append('<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" title="Позволяет выбрать записи для определенных кодов бюджетной классификации (КБК)">Выбрать по КБК</button>');

            $("#hideSameRows").click(function() {
                var result = false;
                //            $.ajax({
                query.doQuery({
                    type: "POST",
                    url: "@Url.Action("IsNotLoadSameTaxOnOff", "Sys")",
                    async: false,
                    cache: false,
                    dataType: "json",
                    success: function(data) {
                        $("#hideSameRows").val(data ? "Добавить записи" : "Скрыть записи");
                        $("#tOrg").trigger("reloadGrid");
                    },
                    //                error: function(jqXhr, textStatus, errorThrown) {
                    //                    alert("Не удалось установить значение параметра. " + textStatus + ". Обратитесь к системному администратору");
                    //                }
                });
            });

            $("#myModal").on("hidden.bs.modal", function() {
                $("#tOrg").trigger("reloadGrid");
            });
        });
    </script>
    }
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Выбор данных по определенным КБК</h4>
                </div>
                <div class="modal-body">
                    <iframe src="@Url.Action("Index", "Kbk")" style="width: 100%; height: 500px; border: 0" id="kbkFrame"></iframe>
                </div>
                <div class="modal-footer">
                    @*                <button type="button" class="btn btn-default" data-dismiss="modal" id="closeKbkForm">Закрыть</button>*@
                    @*                <button type="button" class="btn btn-primary" id="saveKbk">Сохранить</button>*@
                </div>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->